# 1.  Data Infomation

This is the ```first``` notebook of N-Part series of DSS challenge 2 notebooks.

- Data Information

- [Data Cleaning](data_cleaning.ipynb)

- [Data Analysis](data_analysis.ipynb)

This notebook consists of initial data first-look information and parsing Excel data

In [1]:
import pandas as pd

#### Loading Data

In [2]:
DATA_DIR = 'data'
XL_FILE = 'DSS BrainPost Web Analytics Challenge!.xlsx'

###### Let's try to understand the structure in the data file 
Objective is to know:
    - how many sheets we have,
    - what data is there in each sheet,
    - which information we need for analysis and which data is repeated.
    
So let's start looking into the file:

First of all, let's check the sheets,

In [3]:
xls = pd.ExcelFile(f"{DATA_DIR}/{XL_FILE}")
for sheet_name in xls.sheet_names:
    print(sheet_name)

About the Challenge
Signup Page
Page to Page Title lookup
content-pages oct 18-31
content-pages oct 4-17
content-pages sept 20-oct3
content-pages sept 6-19
content-pages aug23-sept5
content-pages jul 26 - aug 8
content-pages july 12-25
content-pages aug 9-22

The first three sheets are for information, That we already have read. Let's chekc the 4th sheet.

In [4]:
xl_df = xls.parse(xls.sheet_names[8])
xl_df.head(10)

,# ----------------------------------------,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,# All Web Site Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,# Pages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,# 20200802-20200808 20200726-20200801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,# ----------------------------------------,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Page,Source / Medium,Date Range,Pageviews,Unique Pageviews,Avg. Time on Page,Entrances,Bounce Rate,% Exit,Page Value
6,/weekly-brainpost/tag/psychology,google / organic,"Aug 2, 2020 - Aug 8, 2020",1,1,00:02:33,1,0,0,0
7,/weekly-brainpost/tag/psychology,google / organic,"Jul 26, 2020 - Aug 1, 2020",0,0,00:00:00,0,0,0,0
8,/weekly-brainpost/tag/ketamine​,google / organic,"Aug 2, 2020 - Aug 8, 2020",1,1,00:00:05,1,0,0,0
9,/weekly-brainpost/tag/ketamine​,google / organic,"Jul 26, 2020 - Aug 1, 2020",0,0,00:00:00,0,0,0,0

Looks like we have some comments on top. Let's skip them.

In [5]:
xl_df = xls.parse(xls.sheet_names[8],  skiprows=6)
xl_df.head()

,Page,Source / Medium,Date Range,Pageviews,Unique Pageviews,Avg. Time on Page,Entrances,Bounce Rate,% Exit,Page Value
0,/weekly-brainpost/tag/psychology,google / organic,"Aug 2, 2020 - Aug 8, 2020",1.0,1.0,00:02:33,1.0,0.0,0.0000,0.0
1,/weekly-brainpost/tag/psychology,google / organic,"Jul 26, 2020 - Aug 1, 2020",0.0,0.0,00:00:00,0.0,0.0,0.0000,0.0
2,/weekly-brainpost/tag/ketamine​,google / organic,"Aug 2, 2020 - Aug 8, 2020",1.0,1.0,00:00:05,1.0,0.0,0.0000,0.0
3,/weekly-brainpost/tag/ketamine​,google / organic,"Jul 26, 2020 - Aug 1, 2020",0.0,0.0,00:00:00,0.0,0.0,0.0000,0.0
4,/weekly-brainpost/tag/ketamine,google / organic,"Aug 2, 2020 - Aug 8, 2020",3.0,2.0,00:25:43,1.0,0.0,0.6667,0.0

Now it looks good. What about the tail? checking 25 last entries wiht ```xl_df.tail(25)``` showd there is a different data at the bottom.

In [6]:
xl_df.tail(25)

,Page,Source / Medium,Date Range,Pageviews,Unique Pageviews,Avg. Time on Page,Entrances,Bounce Rate,% Exit,Page Value
855,/,skypeascientist.com / referral,"Jul 26, 2020 - Aug 1, 2020",4.0,4.0,00:02:12,4.0,0.5000,0.5000,0.0
856,/,t.co / referral,"Aug 2, 2020 - Aug 8, 2020",2.0,2.0,00:00:22,2.0,0.0000,0.0000,0.0
857,/,t.co / referral,"Jul 26, 2020 - Aug 1, 2020",2.0,2.0,00:00:16,2.0,0.5000,0.5000,0.0
858,/,yahoo / organic,"Aug 2, 2020 - Aug 8, 2020",1.0,1.0,00:00:00,0.0,0.0000,1.0000,0.0
859,/,yahoo / organic,"Jul 26, 2020 - Aug 1, 2020",0.0,0.0,00:00:00,0.0,0.0000,0.0000,0.0
860,NaN,NaN,"Aug 2, 2020 - Aug 8, 2020",707.0,622.0,00:02:58,541.0,0.8651,0.7652,0.0
861,NaN,NaN,"Jul 26, 2020 - Aug 1, 2020",744.0,668.0,00:02:10,575.0,0.8678,0.7728,0.0
862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863,Day Index,Date Range,Pageviews,NaN,NaN,NaN,NaN,NaN,NaN,NaN
864,2020-08-02 00:00:00,"Aug 2, 2020 - Aug 8, 2020",62,NaN,NaN,NaN,NaN,NaN,NaN,NaN
865,2020-07-26 00:00:00,"Jul 26, 2020 - Aug 1, 2020",84,NaN,NaN,NaN,NaN,NaN,NaN,NaN
866,2020-08-03 00:00:00,"Aug 2, 2020 - Aug 8, 2020",84,NaN,NaN,NaN,NaN,NaN,NaN,NaN
867,2020-07-27 00:00:00,"Jul 26, 2020 - Aug 1, 2020",88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
868,2020-08-04 00:00:00,"Aug 2, 2020 - Aug 8, 2020",185,NaN,NaN,NaN,NaN,NaN,NaN,NaN
869,2020-07-28 00:00:00,"Jul 26, 2020 - Aug 1, 2020",173,NaN,NaN,NaN,NaN,NaN,NaN,NaN
870,2020-08-05 00:00:00,"Aug 2, 2020 - Aug 8, 2020",107,NaN,NaN,NaN,NaN,NaN,NaN,NaN
871,2020-07-29 00:00:00,"Jul 26, 2020 - Aug 1, 2020",146,NaN,NaN,NaN,NaN,NaN,NaN,NaN
872,2020-08-06 00:00:00,"Aug 2, 2020 - Aug 8, 2020",117,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873,2020-07-30 00:00:00,"Jul 26, 2020 - Aug 1, 2020",88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
874,2020-08-07 00:00:00,"Aug 2, 2020 - Aug 8, 2020",97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
875,2020-07-31 00:00:00,"Jul 26, 2020 - Aug 1, 2020",74,NaN,NaN,NaN,NaN,NaN,NaN,NaN
876,2020-08-08 00:00:00,"Aug 2, 2020 - Aug 8, 2020",55,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877,2020-08-01 00:00:00,"Jul 26, 2020 - Aug 1, 2020",91,NaN,NaN,NaN,NaN,NaN,NaN,NaN
878,NaN,"Aug 2, 2020 - Aug 8, 2020",707,NaN,NaN,NaN,NaN,NaN,NaN,NaN
879,NaN,"Jul 26, 2020 - Aug 1, 2020",744,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We need to skip last 20 rows as we don't need sum of the first table as it is in second table too.

In [7]:
xl_df = xls.parse(xls.sheet_names[8],  skiprows=6, skipfooter=20)
xl_df.tail()

,Page,Source / Medium,Date Range,Pageviews,Unique Pageviews,Avg. Time on Page,Entrances,Bounce Rate,% Exit,Page Value
855,/,skypeascientist.com / referral,"Jul 26, 2020 - Aug 1, 2020",4,4,00:02:12,4,0.5,0.5,0
856,/,t.co / referral,"Aug 2, 2020 - Aug 8, 2020",2,2,00:00:22,2,0.0,0.0,0
857,/,t.co / referral,"Jul 26, 2020 - Aug 1, 2020",2,2,00:00:16,2,0.5,0.5,0
858,/,yahoo / organic,"Aug 2, 2020 - Aug 8, 2020",1,1,00:00:00,0,0.0,1.0,0
859,/,yahoo / organic,"Jul 26, 2020 - Aug 1, 2020",0,0,00:00:00,0,0.0,0.0,0

Now it looks perfect. But what is the data in last 20 rows. It looks like the page view counts of different durations. Which can be taken from above dataframe. But just in case, we need the sum with those ranges of date. Let's keep that data too. but in a separate dataframe.
We will need some cleanup here too. 
- That means to clean up we need to skip the  comments on top(6 rows) ,rows whole upper table(xl_df.shape[0]+1) +  rows of sums in upper table(2) + blank line in between(1).
- also, we have only three columns in lower table.

Let's do it..

In [8]:
print(xls.sheet_names[8])
page_view_df = xls.parse(xls.sheet_names[8], skiprows=xl_df.shape[0]+1 + 9)
page_view_df = page_view_df.iloc[:, 0:3]
page_view_df

content-pages jul 26 - aug 8

    Day Index                  Date Range  Pageviews
0  2020-08-02   Aug 2, 2020 - Aug 8, 2020         62
1  2020-07-26  Jul 26, 2020 - Aug 1, 2020         84
2  2020-08-03   Aug 2, 2020 - Aug 8, 2020         84
3  2020-07-27  Jul 26, 2020 - Aug 1, 2020         88
4  2020-08-04   Aug 2, 2020 - Aug 8, 2020        185
5  2020-07-28  Jul 26, 2020 - Aug 1, 2020        173
6  2020-08-05   Aug 2, 2020 - Aug 8, 2020        107
7  2020-07-29  Jul 26, 2020 - Aug 1, 2020        146
8  2020-08-06   Aug 2, 2020 - Aug 8, 2020        117
9  2020-07-30  Jul 26, 2020 - Aug 1, 2020         88
10 2020-08-07   Aug 2, 2020 - Aug 8, 2020         97
11 2020-07-31  Jul 26, 2020 - Aug 1, 2020         74
12 2020-08-08   Aug 2, 2020 - Aug 8, 2020         55
13 2020-08-01  Jul 26, 2020 - Aug 1, 2020         91
14        NaT   Aug 2, 2020 - Aug 8, 2020        707
15        NaT  Jul 26, 2020 - Aug 1, 2020        744

- As we see, the lower table ultimately groups the page views from two data ranges so the table itself is not much important as it has ranges repeated as counted on differnt 'day index' value. Let's just keep the sum from bottom.

In [9]:
page_view_df.iloc[-2:,1:]

                    Date Range  Pageviews
14   Aug 2, 2020 - Aug 8, 2020        707
15  Jul 26, 2020 - Aug 1, 2020        744

These two dataframes are we have in this sheet. __But we may not need the page view dataframe as it is just the repeated data that we already have in upper table we extracted in ```xl_df```.__

Similar, analysis done quickly on other sheets shows that all the other sheets have similar structure with different number of the data entries. So we are good to combine the sheets into one dataframe for ease of analysis.
Let's try that...

In [10]:
non_data_sheets = ['About the Challenge','Signup Page','Page to Page Title lookup']
xls = pd.ExcelFile(f"{DATA_DIR}/{XL_FILE}")
full_data_df = pd.DataFrame()
full_page_view_df = pd.DataFrame()
data_sheets = [sheet_name for sheet_name in xls.sheet_names if sheet_name not in non_data_sheets]
for sheet_name in data_sheets:
    content_data_df = xls.parse(sheet_name, skiprows=6, skipfooter=20)
    full_data_df = full_data_df.append(content_data_df, ignore_index=True)
    page_view_df = xls.parse(sheet_name, skiprows=content_data_df.shape[0]+1 + 9)
    full_page_view_df = full_page_view_df.append(page_view_df.iloc[-2:,1:3], ignore_index=True)

Now we have two dataframes with all the data we need for further analysis.

In [11]:
print(f'Content data shape: {full_data_df.shape}')
print(f'Page View data shape: {full_page_view_df.shape}')

Content data shape: (9058, 10)
Page View data shape: (16, 2)

#### Saving extracted dataframes for future
Now, we have two dataframes let's save them for future use.

In [12]:
full_data_df.to_csv(f'{DATA_DIR}/content_data.csv', index=False)
full_page_view_df.to_csv(f'{DATA_DIR}/page_view_data.csv', index=False)

Let's continue in another notebook. - [Data Cleaning](data_cleaning.ipynb)